/* takes content size, padding, and border into account when determing size of conetnt */
* {
  box-sizing: border-box;
}

html {
  font-size: 0.9rem;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: #fff;
  color: #404040;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
}

/* join us for this live webinar */
h1 + p {
  font-weight: 900;
  font-size: 1.3125rem;
}

h2 {
  font-size: 1.3125rem;
}

/* register today */
h2 + p {
  font-weight: 900;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

.content-wrapper {
}

.intro {
  background-color: #404040;
  background-image: url(dark-ribs.jpg);
  background-size: cover;
  background-position: center;

  padding: 0 0.5em 2em;
}

.main-content {
  padding: 2em 1em;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container-intro {
  /* note margins do not collapse */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 50vh;
}

.all-caps {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.top-text {
  order: -1;
  font-weight: 900;
}

.small-text {
  font-size: 0.625rem;
  letter-spacing: 2px;
}

.accent-color {
  color: #f18119;
}

strong {
  font-weight: 900;
}

.btn {
}

.btn:hover,
.btn:focus {
}

@media (min-width: 750px) {
  h1 {
    font-size: 3.5rem;
  }

  h1 + p {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  body {
    font-size: 1.125rem;
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .container-intro {
    height: 100%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
