/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  color: #707070;
  font-size: 1.125rem;
  margin: 0;
}

h1 {
  color: #312614;
  font-size: 3rem;
  text-align: center;
  padding: 0.5em;
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 980px;
  width: 95%;
  min-width: 325px;
}

.columns {
  display: flex;
  /* space between columns */
  justify-content: space-between;
  /* vertically shrinks container to size of contents */
  /* use with borders and bg colors */
  align-items: flex-start;
  margin: 1em 0;
}

.col {
  /* border: 1px solid green; */
}

/* must not total 100% to allow for column space between */
.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

h1 span {
  color: #b7832f;
}

.light-text {
  color: #fff;
}

.col-dark-background {
  background-color: #312614;
  padding: 1em;
}

/* switch cols to stack */
@media (max-width: 600px) {
  .columns {
    flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}
