/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-size: 1.125rem;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2rem;
  color: #143774;
}

.subtitle {
  color: #1792d2;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.subtitle,
nav {
  font-size: 1rem;
}

.nav-list {
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  list-style: none;
  margin-left: 2em;
}

.nav-links {
  color: #707070;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25em 0;
}

.nav-links:hover,
.nav-links:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 1em 0;
  }
}
