/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-size: 1.125rem;
  margin: 0;
}

.title {
}

h1 {
  font-family: "Lora", serif;
  font-size: 3.375rem;
  color: #143774;
}

.subtitle {
  color: #1792d2;
}

.subtitle,
nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.nav-links {
  color: #707070;
  text-decoration: none;
}

.nav-links:hover,
.nav-links:focus {
  color: #1792d2;
}

.nav-item {
  list-style: none;
}
