/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-size: 1.125rem;
  margin: 0;
  font-family: "Lora", sans-serif;
  color: #707070;
}

header {
  background-color: #f8f8f8;
  padding: 2em 0;
}

p {
  margin-bottom: 1em;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2rem;
  color: #143774;
}

h2 {
  color: #143774;
  font-size: 1.5rem;
  margin: 0.5em 0;
}

.subtitle {
  color: #1792d2;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Ubuntu", serif;
}

.subtitle,
nav {
  font-size: 1rem;
}

.nav-list {
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  list-style: none;
  margin-left: 2em;
}

.nav-links {
  color: #707070;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25em 0;
}

.nav-links:hover,
.nav-links:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 1em 0;
  }
}

.col {
}

.col-1 {
}
.col-2 {
}

.featured-post {
}

.past-posts {
  border-top: 1px solid #717171;
}

img {
  max-width: 100%;
  margin: 1em 0;
}

p a {
  color: #1792d2;
}

p a:hover {
  color: #143774;
}

.all-caps {
  text-transform: uppercase;
}

.small-text {
  font-size: 0.875rem;
  color: #707070;
}

.continue-reading {
  color: #1792d2;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 1em 0;
}

.sidebar {
  color: #143774;
  border: 15px solid #ebebeb;
}

.post-div {
  border-bottom: 1px solid #707070;
  margin-bottom: 10px;
}

footer {
  background-color: #143774;
  color: #ebebeb;
  font-family: "Ubuntu", serif;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 1000px) {
  .container {
    display: flex;
  }

  .col-2 {
    width: 61%;
  }

  .col-1 {
    width: 28%;
  }

  footer {
    padding: 3em 0;
  }
}
